* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
}

.plan {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
  grid-template-areas:
    "i1 i2 . i3 . ."
    ". . . . . ."
    ". . . i4 i5 i6"
    "i7 i8 . . . ."
    ". . . i9 i10 i11"
    " . . . . . i12"
    "i13 i14 . i15 i16 i17";
}

.item {
  width: 100%;
  height: 100%;
  background: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.item__img {
  width: 75px;
  border-radius: 50%;
  border: 10px white;
}
.item__img:hover {
  width: 150px;
}
.item__span {
  display: inline-block;
  background: white;
  padding: 0.125em 0.25em 0;
}

.item1 {
  grid-area: i1;
}
.item2 {
  grid-area: i2;
}
.item3 {
  grid-area: i3;
}
.item4 {
  grid-area: i4;
}
.item5 {
  grid-area: i5;
}
.item6 {
  grid-area: i6;
}
.item7 {
  grid-area: i7;
}
.item8 {
  grid-area: i8;
}
.item9 {
  grid-area: i9;
}
.item10 {
  grid-area: i10;
}
.item11 {
  grid-area: i11;
}
.item12 {
  grid-area: i12;
}
.item13 {
  grid-area: i13;
}
.item14 {
  grid-area: i14;
}
.item15 {
  grid-area: i15;
}
.item16 {
  grid-area: i16;
}
.item17 {
  grid-area: i17;
}
